
*{
	font-family: 'Lato', sans-serif;
}

h1{
	color: white;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 2%;
}

h2{
	text-align: left;
}

p{
	margin: 2% 0;
	margin-top: 3%;
}

.resize{
	width: 80%;
	padding: 0px;
	display: block;
	margin: auto;
}

.txtwhite{
	color: white;
}

.txtgris{
	color:#A9A9A9 ;
	
}

.buttonabout{
	color: black;
	background-color: #A9A9A9;
	display: block;
	margin: auto;
}

.textbox{
	background-color: black;
	height: 50px;
	width: 150px;
}


.cuadrado{
	background-color: black;
	height: 50px;
	width: 50px;
}

header{
	background: url(../img/architect.jpg);
	background-repeat: no-repeat;
	height: 750px;
	width: 100%
}

footer{
	background-color: black;
	color: white;
	text-align: center;
}

button{
	background-color: black;
	color: white;
	display: block;
	margin: auto;
}

fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
} 


.grayquare{

  width:100%;
  height:1px;
  background:#A9A9A9;
  opacity: 80%;

}