
*{
	font-family: 'Lato', sans-serif;
}

hr{
	margin: 2% 0;
}

h1{
	color: white;
	text-align: center;
	margin-top: 15%;
	margin-bottom: 2%;
}

h2{
	text-align: left;
}

a{
	color: black;
	
}
p{
	margin: 2% 0;
}

nav{
	background-color: white;

}


li{
	display: inline-block;
	font-weight: bold;
}

.bold{
	font-weight: bold;
	margin-top: 0px;
}

.resize{
	width: 80%;
	padding: 0px;
	display: block;
	margin: auto;
}

.txtwhite{
	color: white;
	background-color: black;
}

.txtgris{
	color:#A9A9A9 ;
}

.buttonabout{
	color: black;
	background-color: #A9A9A9;
	display: block;
	margin: auto;
	width: 100%;
	padding: 2%;
	text-align: center;
	margin-top: 4%;
	font-size: 20px;
	border-radius: 5px;
	font-weight: bold;
}


.cuadrado{
	background-color: black;
	height: 50px;
	width: 50px;
	padding: 2%;
}

header{
	background: url(../img/architect.jpg);
	background-repeat: no-repeat;
	height: 700px;
	width: 100%;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
}

button{
	background-color: black;
	color: white;
	display: block;
	font-size: 12px;
	border-radius: 8px;
	width: 100%;
	padding: 2%;
}


input{
	width: 100%;
}
.bluehouse{
	background-image: url(../img/house5.jpg);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	height: 250px;
	padding: 2%;
}

.brickhouse{
	background-image: url(../img/house2.jpg);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	height: 250px;
	padding: 2%;
}

.purplehouse{
	background-image: url(../img/house3.jpg);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	height: 250px;
	padding: 2%;
}

.barnhouse{
	background-image: url(../img/house4.jpg);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	height: 250px;
	padding: 2%;
}